* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: auto;
}

#me .navbar .navbar-brand {
  font-family: fastHand;
  font-size: 2em;
  padding: 7px;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}
#me .navbar .navbar-nav .nav-link {
  font-family: linkStart;
  letter-spacing: 6px;
  font-size: 1.6em;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}
#me .navbar #btnBars {
  background: transparent;
  border: transparent;
  font-size: 1.6em;
  display: none;
}
#me .myProfil {
  color: darkred;
  height: 700px;
  text-align: center;
  position: relative;
  top: -30%;
  left: 0%;
  transform: translate(0%, 35%);
}
#me .myProfil .myName {
  font-family: emizen;
  letter-spacing: 6px;
  font-size: 3.2em;
}
#me .myProfil .myJobs {
  font-size: 1.8em;
  font-family: olney;
  text-shadow: 0px 0px 5px #fcfcfc;
}

.aboutMe {
  background-color: rgb(31, 31, 31);
}
.aboutMe .about {
  padding-top: 5px;
  color: azure;
  font-size: 2.1em;
  text-align: center;
  font-family: emizen;
  letter-spacing: 4px;
}
.aboutMe #myStory {
  padding: 20px;
  flex-direction: row;
  align-items: center;
}
.aboutMe #myStory img {
  width: 100%;
  height: auto;
  height: 500px;
}
.aboutMe .meIdentify {
  color: white;
  line-height: 65px;
}
.aboutMe .meIdentify .describeMe {
  font-family: olney;
  font-size: 1.6em;
  letter-spacing: 2px;
}

#myProjets {
  margin: 20px auto;
  padding: 10px 0px 30px 0px;
  background-color: rgb(48, 48, 48);
}
#myProjets .nameProjet {
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
}
#myProjets #listProjets {
  margin: 20px auto;
  text-align: center;
}
#myProjets .lienProjets {
  text-align: center;
}
#myProjets .lienProjets .lien {
  color: azure;
  font-weight: bold;
  text-decoration: none;
}
#myProjets .lienProjets .lien:hover {
  color: darkred;
}

.Capacity .mySuperPower {
  margin: 5px auto;
  text-align: center;
  letter-spacing: 4px;
  font-family: emizen;
}
.Capacity #myListCapacities .nameFrameworks {
  font-family: linkStart;
  letter-spacing: 6px;
  font-size: 1.8em;
  font-weight: bold;
}
.Capacity #myListCapacities .listFrameworks {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.Capacity #myListCapacities .listFrameworks .langageCode {
  font-size: 1.3em;
  font-family: olney;
}
.Capacity #myListCapacities .listFrameworks .capacityCode {
  font-size: 1.2em;
}
.Capacity #myListCapacities .myCV {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Capacity #myListCapacities .myCV .img-fluid {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}
.Capacity #myListCapacities .myCV #btnDownload {
  width: 42%;
  padding: 10px;
  color: azure;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: olney;
  border-radius: 40px;
  border: 1px solid black;
  background-color: darkred;
  transition: all 0.25ms ease;
}
.Capacity #myListCapacities .myCV #btnDownload:active {
  transform: translateY(8px);
}
.Capacity #myListCapacities .myCV #btnDownload a {
  font-size: 1.3em;
  text-decoration: none;
}

#myProjets .nameProjet {
  color: azure;
  letter-spacing: 4px;
  font-family: emizen;
}
#myProjets #listProjets {
  margin: 20px auto;
}
#myProjets .lienProjets .lien {
  cursor: pointer;
  font-size: 1.3em;
  font-family: olney;
}
#myProjets .lienProjets .lien:hover {
  color: darkred;
}

#contact .titleContact {
  letter-spacing: 4px;
  text-align: center;
  font-family: emizen;
}
#contact .contactModal {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 40px;
  background-color: black;
  border: 1px solid black;
  padding: 20px;
}
#contact .contactModal #youContact #contactMe {
  margin-left: 10px;
  text-align: center;
}
#contact .contactModal #youContact input[type=text],
#contact .contactModal #youContact textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  max-width: 710px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
#contact .contactModal #youContact input[type=text]::-moz-placeholder, #contact .contactModal #youContact textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#contact .contactModal #youContact input[type=text]::placeholder,
#contact .contactModal #youContact textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#contact .contactModal #youContact textarea {
  resize: none;
  height: 200px;
}
#contact .contactModal #myListContact {
  display: block;
  margin: 15px auto;
  line-height: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#contact .contactModal #myListContact p {
  color: azure;
  font-size: 1.3em;
  font-family: olney;
}
#contact .contactModal #myListContact .fa-regular {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.6em;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
}
#contact .contactModal #myListContact .fa-phone, #contact .contactModal #myListContact .fa-envelope, #contact .contactModal #myListContact .fa-linkedin-in {
  color: azure;
}
#contact .contactModal #myListContact .fa-brands {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.6em;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 255, 255);
}
#contact .contactModal #btnSend {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  padding: 10px 20px;
  border: none;
  background-color: darkred;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.25ms ease;
}
#contact .contactModal #btnSend:active {
  transform: translateY(8px);
  background-color: #075509;
}

@media screen and (max-width: 992px) {
  #me .navbar .navbar-nav {
    display: none;
  }
  #me .navbar #btnBars {
    display: block;
  }
  #my-capacity .myCV {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    max-width: 60%;
    height: auto;
  }
  #myProjets #listProjets img {
    margin: 10px auto;
  }
}
@font-face {
  font-family: emizen;
  src: url(fonts/Emizen.otf);
}
@font-face {
  font-family: linkStart;
  src: url(fonts/LinkStart.otf);
}
@font-face {
  font-family: RoundControl;
  src: url(fonts/RoundControl.otf);
}
@font-face {
  font-family: olney;
  src: url(fonts/OlneyLigth.otf);
}
@font-face {
  font-family: fastHand;
  src: url(fonts/FastHand.otf);
}/*# sourceMappingURL=portofolio.css.map */